
<div class="container">

    <div>
        <h5><strong>Summary</strong></h5>
        <p>Total transactions: <strong>{{this.dash.transactions.length}}</strong></p>
        <p>Current Balance: <strong>${{this.dash.credit}}</strong></p>
    </div>
    <div>
        <h5 (click)="changeShowList()"><strong>Click to show detail</strong></h5>
        <div class="col-12" >
            <table class= "table table-striped" *ngIf="showList">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Account</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="transaction" *ngFor="let tr of transactionList | async " app-transaction [transaction]="tr">
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

