<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card" style="width: 18rem; height: 28rem">
            <h4 class="card-header  text-center py-4 bg-danger text-white">
                <strong>Adding Transacion</strong> 
             </h4>
             <img class="card-img-top" src="../../assets/images/shopping-business-money-pay-50987.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">User can manually add transactions in this site.</p>
              <a href="register" class="btn btn-danger">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="width: 18rem; height: 28rem">
            <h4 class="card-header  text-center py-4 bg-danger text-white">
                <strong>Dash Board</strong> 
             </h4>
             <img class="card-img-top" src="../../assets/images/pexels-photo-187041.jpeg" alt="Card image cap" height="197">
            <div class="card-body">
              <p class="card-text">See all transactions belong to authenticated user.</p>
              <a href="dashboard" class="btn btn-danger">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    
    <div class="container">    
    </div>>
</div>
