<!-- <nav>
	<ol>
		<li><a href="/create-user">Create a new user</a></li>
		<li><a href="/login">Log in as an existing user</a></li>
		<li><a href="/check-login">Verify that you are (not) logged in</a></li>
	</ol>
</nav> -->
<router-outlet></router-outlet>
<nav class="navbar navbar-light bg-primary">
    <a routerLink="/register" class="navbar-brand">Transaction</a>
	<a routerLink="/create-user" class="navbar-brand">Create Account</a>
	<a routerLink="/login" class="navbar-brand">Log In</a>
</nav>
<router-outlet></router-outlet>