<!-- Source code:
https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
	<a class="navbar-brand" href="#"></a>
	<button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]="isCollapsed">
	  <div class="navbar-nav">
		<a class="nav-item nav-link active" href="">Home <span class="sr-only">(current)</span></a>
		<a class="nav-item nav-link" href="register">Add-Transaction</a>
		<a class="nav-item nav-link" href="dashboard">Dash-Board</a>	
	  </div>
	</div>
	<button type="button" (click)="this.logOut()">Logout</button>
	
  </nav>
  <router-outlet></router-outlet>