<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center"><strong>Adding transaction</strong></h1>
            <form>
            <table class= "table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Accout</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>                                      
                    <tr>
                        <td>
                        <div class="form-group">
                            <input type="date" class="form-control" [formControl]="date" (input)="updateDate($event)" placeholder = "new Date()">
                        </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" [formControl]="description" (input)="updateDescription($event)">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" [formControl]="account" (input)="updateAccount($event)">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="number" class="form-control" [formControl]="amount" (input)="updateCredit($event)">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0 w-25 mx-auto " (click)="addServer()">Add</button>

        </form>
            <div class="text-center bg-primary" id="info">
                <p >{{msg | async}}</p>
            </div>
    </div>
</div>

